{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'forecastweb/css/bootstrap.min.css' %}">
</head>
<body>
    <form method="get">
        <input type="text" name="city" placeholder="Enter a city">
        <input type="submit" value="Get Weather">
    </form>
    {% if city %}
        <h2>Current Weather for {{ city }}</h2>
        <p>Temperature: {{ temperature }}°C</p>
        <p>Description: {{ description }}</p>
        <h3 class="h5">Forecast</h3>
        {% for item in forecast %}
            <p>Time: {{ item.dt_txt }} - Temp: {{ item.main.temp }}°C - {{ item.weather.0.description }}</p>
        {% endfor %}
    {% endif %}
    <script src="{% static 'forecastweb/js/bootstrap.min.js' %}"></script>
</body>
</html>
